.over .para1{
    background-color: palevioletred;
    padding : 20px;
    margin : 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
}

.over .para2{
    background-color: orange;
    padding : 20px;
    margin : 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
}

.over .para3{
    background-color: yellow;
    padding : 20px;
    margin : 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
}


.over .para4{
    background-color: lightskyblue;
    padding : 20px;
    margin : 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
}

/* media-Query */
@media screen and (min-width:1200px) 
{
    .over{display : flex;}

}

 @media screen and (min-width:992px) and (max-width:1199px)
{
    .over{display:grid;
       grid-template-columns: auto auto auto;}
    }

 @media screen and (min-width:768px) and (max-width:991px) 
    {
        .over{display:grid;
           grid-template-columns: auto auto;}
        } 