/* .body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./images/360_F_52437188_LNFMURJDZ5MPaBkgnugAwBFIOLdHJH9V.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
} */
html{
    background-image: url(./images/83f041fd0a4f08e65b2fb342737acac3.jpg);
    
    background-repeat: no-repeat;
   background-size: 1500px;
  overflow: hidden;
  
   
}
.tom{
  position: absolute;
    height: 200px;
    top: 430px;
    right: 1000px;
    animation: tom 2s linear infinite;
    /* animation-iteration-count: ; */
}



@media screen and (max-width:600px){
    @keyframes tom {
        from{right: -100px;}
        to{right: 100%;}
    }
}